@import "~normalize.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox-controls/compass/src/index.css";
@import '~@mapbox-controls/ruler/src/index.css';
@import '~@mapbox-controls/zoom/src/index.css';
@import '~ol/ol.css';

* { 
    box-sizing: border-box;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
  position: relative;
  position: relative;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    overflow: hidden;
}

#root {
    z-index: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

a:hover {
  color: black;
}
